
<div class="container">

<img class="d-block mx-auto mb-4">
 <%= image_tag "https://1.bp.blogspot.com/-HyIFKnT4YUs/WGYi4WrfPlI/AAAAAAABAu0/MkBHhYM3C4MwZEP5qTgPzRqIauWQ7Iw7wCLcB/s800/character_food_gohan.png",height:"144" %>
<h2>Sign up Form</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

  </div>

  <div class="field">
    <%= f.label :Name %><br />
    <%= f.text_field :name ,autofocus: true, autocomplete: "group_id"%>
  </div>


  <hr class="my-4">

  <button class="w-100 btn btn-primary btn-lg" type="submit">Sign up</button>
<% end %>
</div>

<%= render "devise/shared/links" %>
