<div class="container">
<div class="py-5 text-center">
<h1>User</h1>
<hr class="my-4">
<h3>Username:<%= @user.name %></h3>
<hr class="my-4">
<h3>投稿内容</h3>
<tr>
    
    <div class="my-3 ml-3">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>breakfast</th>
                    <th>lunch</th>
                    <th>dinner</th>
                    <th>Likecount</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
            </thead>

            <tbody>
                <% @user.logs.each do |log| %>
                    <tr>
                        <td><%= log.brealfast %></td>
                        <td><%= log.lunch %></td>
                        <td><%= log.dinner %></td>
                        <td><%= log.likes.count %></td>
                        <td><%= link_to 'Show', log %></td>
                        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %></td>
                    </tr>
                <%end%>
            </tbody>
        </table>
    <div>
</tr>
</div>
<%= link_to "ユーザー一覧へ", users_path %>
<%= link_to "ホームへ戻る", logs_path %>
</div>