<div class="container">
  <h1>Logs</h1>
  <hr class="my-4">

  <%if user_signed_in? %>
    <div class="py-5 text-center">
    <h2>投稿する</h2>

          <%= form_for @log do |form| %>
          <div class="field">
            <%= form.label :breakfast %>
            <%= form.text_field :brealfast %>
          </div>

          <div class="field">
            <%= form.label :lunch %>
            <%= form.text_field :lunch %>
          </div>

          <div class="field">
            <%= form.label :dinner %>
            <%= form.text_field :dinner %><br>
          </div>


          <div class="field">
            <%= form.label :comment %>
            <%= form.text_field :comment %>
          </div>

          <button class="w-100 btn btn-primary btn-lg" type="submit">Create Log</button>
          <% end %>
    </div>

    <hr class="my-4">
    <div class="py-5 text-center">
      <h3>投稿一覧</h3>
      
      <% @logs.each do |log| %>
        <a href="/users/<%= log.user.id %>"><%= log.user.name %></a>
        (<%= log.liked_users.count %>)
      <br>
      <% end %>
    </div>


  <% else %>
    <%= link_to "Registration", new_user_registration_path %><br>
    <%= link_to "Log in", new_user_session_path %>
  <% end %>
</div>